
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(grey, white) 0 100% no-repeat;
  background-size: 100%;
  background-image: url("dice_bg.jpeg");
}

.container-left {
  width: 50px;
  position: absolute;
  top: 100px;
  left: 5%;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.container-right {
  width: 50px;
  position: absolute;
  top: 100px;
  left: 60%;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.container-left2 {
  width: 50px;
  position: absolute;
  top: 250px;
  left: 5%;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.container-right2 {
  width: 50px;
  position: absolute;
  top: 250px;
  left: 60%;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.container-left3 {
  width: 50px;
  position: absolute;
  top: 400px;
  left: 5%;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.container-right3 {
  width: 50px;
  position: absolute;
  top: 400px;
  left: 60%;
  background-color: #ffffff;
  border-radius: 8px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.container-mid {
  width: 50px;
  padding: 50px;
  position: absolute;
  top: 70%;
  left: 30%;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.number {
  font-family: "Brush script MT", Cursive;
  font-size: 28px;
  font-weight: 500;
  color: white;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.toptext {
  text-align: center;
  font-size: 38px;
  color: goldenrod;
  position: absolute;
  display: flex;
  top: 1%;
  left: 42%;
}

.registertext {
  font-size: 18px;
  color: goldenrod;
  position: absolute;
  display: flex;
  top: 2%;
  left: 90%;
}

.logintext {
  font-size: 18px;
  color: goldenrod;
  position: absolute;
  display: flex;
  top: 2%;
  left: 95%;
}

button {
  background-color: #9e9e9e;
  outline: none;
  padding: 15px 0;
  width: 70px;
  letter-spacing: 1px;
  border-radius: 5px;
}

.shake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

.header {
  padding: 5px;
  background: #801504;
  color: goldenrod;
  font-size: 18px;
}

.img-header {
  position: left;
  height: 5%;
  width: 5%;
}

.footer {
  padding: 20px;
  background: #801504;
  color: goldenrod;
  font-size: 18px;
  position: absolute;
  display: flex;
  top: 100%;
  width: 100%;
}

.mailimage {
  height: 2%;
  width: 2%;
  display: inline;
}

.mailtext {
  display: inline;
}

.img_d4{
  height: 100px;
  width: 100px;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 20px 100px;
  background: #801504;
  color: goldenrod;
  width: 100%;
  align-items: center;
  z-index: 99;
}

.text_header {
  display: inline-block;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  color: goldenrod;
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid goldenrod;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: goldenrod;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navigation .btnLogin-popup:hover {
  background: goldenrod;
  color: #801504;
}

.navigation a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: goldenrod;
  left: 0;
  bottom: -6px;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;;
  transform: scaleX(1);
}

.img-header {
  position: left;
  height: 20%;
  width: 20%;
  user-select: none;
}

.registertext {
  font-size: 18px;
  color: goldenrod;
  position: absolute;
  display: flex;
  top: 0%;
  left: 90%;
}

.logintext {
  font-size: 18px;
  color: goldenrod;
  position: absolute;
  display: flex;
  top: 0%;
  left: 95%;
}

.wrapper {
  position: absolute;
  width: 400px;
  height: 440px;
  top: 16%;
  left: 70%;
  margin-bottom: 50px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  justify-content: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease ,height .2s ease;
}

.wrapper.active {
  height: 570px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
 transition: transform .18s ease;
 transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  top: -0%;
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #801504;
  font-size: 2em;
  color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: goldenrod;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid goldenrod;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: goldenrod;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: goldenrod;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: goldenrod;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: #801504;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: goldenrod;
  margin-right: 3px;
}

.remember-forgot a {
  color: goldenrod;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #801504;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: goldenrod;
  font-weight: 500;
}

.login-register {
  font-size: .9em;
  color: #801504;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: goldenrod;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}