* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #801504;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 20px 100px;
  background: #801504;
  color: goldenrod;
  width: 100%;
  align-items: center;
  z-index: 99;
}

.text_header {
  display: inline-block;
}

.navigation .text_header {
  position: relative;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  color: goldenrod;
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid goldenrod;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: goldenrod;
  font-weight: 500;
  margin-left: 40px;
  margin-right: 30px;
  transition: .5s;
}

.navigation .btnProfile {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid goldenrod;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: goldenrod;
  font-weight: 500;
  margin-left: 40px;
  margin-right: 30px;
  transition: .5s;
}

.navigation .btnLogin-popup:hover {
  background: goldenrod;
  color: #801504;
}

.navigation .btnProfile:hover {
  background: goldenrod;
  color: #801504;
}

.navigation .text_header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: goldenrod;
  left: 0;
  bottom: -6px;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;;
  transform: scaleX(1);
}

.image {
  width: 50px;
  height: 50px;
}

.img-header {
  height: 50px;
  width: 70px;
  margin-left: 30px;
  user-select: none;
}


.button-feats {
  width: 100%;
  height: 500px;
  color: black;
  background-image: url("http://localhost/login/Kasp_proj_new/images/feats.jpg");
  background-size: 100% 100%;
  
}

.button-races {
  width: 100%;
  height: 500px;
  color: white;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/20bb3f17-6930-4381-8798-b3ca82996387/dfs5z0a-2c763949-1b93-46fb-af81-683328220c4e.png/v1/fill/w_1331,h_600,q_70,strp/dungeons_and_dragons_races_lineup_by_autumnarchfey_dfs5z0a-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzAwMCIsInBhdGgiOiJcL2ZcLzIwYmIzZjE3LTY5MzAtNDM4MS04Nzk4LWIzY2E4Mjk5NjM4N1wvZGZzNXowYS0yYzc2Mzk0OS0xYjkzLTQ2ZmItYWY4MS02ODMzMjgyMjBjNGUucG5nIiwid2lkdGgiOiI8PTY2NTAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.N7LwFLYfS7kL__zJT4JxQdtiM3-u6wij30dNMXqsHME);
  background-size: 100% 100%;
}

.button-backgrounds {
  width: 100%;
  height: 500px;
  color: white;
  background-image: url("http://localhost/login/Kasp_proj_new/images/background.jpg");
  background-size: 100% 100%;
}

.button-classes {
  width: 100%;
  height: 500px;
  color: white;
  background-image: url(https://www.wargamer.com/wp-content/sites/wargamer/2022/11/dnd-classes-5e-guide-adventuring-party-rallies-in-combat.jpg);
  background-size: 100% 100%;
}

.button-books {
  width: 100%;
  height: 500px;
  color: white;
  background-image: url("https://i.redd.it/9a9x1m20gtg71.jpg");
  background-size: 100% 100%;
}

.button-dice {
  width: 100%;
  height: 500px;
  color: white;
  background-image: url("http://localhost/login/Kasp_proj_new/images/dice.jpg");
  background-size: 100% 100%;
  border: 0;
  
}

.image-small {
  height: 100%;
  width: 30%;
  float: right;
}

.text {
  display: inline-block;
  vertical-align: middle;
  padding: 100px;
  font-size: 20px
}

.container:hover button{
  opacity: 70%;
  transition-duration: 2s;
}

.container:hover .text {
  font-size: 34px;
  transition-duration: 2s;
}

.text-hidden {
  font-size: 10px;
  padding: 5px;
  opacity: 0%;
}

.container:hover .text-hidden {
  font-size: 24px;
  opacity: 100%;
  transition-duration: 2s;
}

.header {
  padding: 5px;
  background: #801504;
  color: goldenrod;
  font-size: 18px;
}

.container{
  height: 500px;
  width: 100%;
}

.container-first{
  height: 500px;
  width: 100%;
  padding-top: 5%;
}

.registertext {
  font-size: 18px;
  color: goldenrod;
  position: absolute;
  display: flex;
  top: 0%;
  left: 90%;
}

.logintext {
  font-size: 18px;
  color: goldenrod;
  position: absolute;
  display: flex;
  top: 0%;
  left: 95%;
}

.footer {
  padding: 20px;
  background: #801504;
  color: goldenrod;
  font-size: 18px;
  width: 100%;
  display: flex;
}

.mailimage {
  height: 20px;
  width: 40px;
  display: inline-block;
  margin-left: 5px;
}

.mailtext {
  display: inline-block;
  margin-left: 5px;
}

.wrapper {
  position: fixed;
  width: 400px;
  height: 440px;
  top: 16%;
  left:70%;
  margin-bottom: 50px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  justify-content: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease ,height .2s ease;
}

.wrapper.active {
  height: 570px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
 transition: transform .18s ease;
 transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  top: -0%;
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #801504;
  font-size: 2em;
  color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: goldenrod;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid goldenrod;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: goldenrod;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: goldenrod;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: goldenrod;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: #801504;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: goldenrod;
  margin-right: 3px;
}

.remember-forgot a {
  color: goldenrod;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #801504;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: goldenrod;
  font-weight: 500;
}

.login-register {
  font-size: .9em;
  color: #801504;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: goldenrod;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-element
{
  position: absolute;
  background-color: #7a7a7a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  color: black;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {
  display:block;
}

.first{
  position: absolute;
}

.menu-div
{
  display: none;
}

.menu-content
{
  display: none;
  list-style: none;
}

.menu-div .btnLogin-popup
{
  background: none;
  border: none;
  color: goldenrod;
}

.menu-div .btnProfile
{
  background: none;
  border: none;
  color: goldenrod;
}


.menu-line
{
  margin: auto;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: goldenrod;
}

.menu-content.active
{
  transition: 2s;
  display: block;
}

.menu
{
  background-color: #801504;
  color: goldenrod;
  border-color: goldenrod;
  border-radius: 100%;
  text-align: center;
  font-size: 18px;
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 426px)
{
  .button-classes
  {
    height: 200px;
  }

  .button-races
  {
    height: 200px;
  }

  .button-feats
  {
    height: 200px;
    color: white;
  }
  .button-backgrounds
  {
    height: 200px;
  }

  .button-dice
  {
    height: 200px;
  }

  .button-books
  {
    height: 200px;
  }

  .header
  {
    position: absolute;
  }

  .container{
    height: 200px;
    padding-top: 15%;
    width: 100%;
    pointer-events: none;
  }

  .mailimage
  {
    margin-top: 20%;
  }

  .mailtext
  {
    padding-top: 20%;
  }

  .wrapper
  {
    left: 0%;
    width: 320px;
  }

  .menu-div
  {
    display: block;
    text-align: right;
  }

  .navigation a 
  {
    display: none;
  };

  .navigation .btnLogin-popup
  {
    display: none;
  }
}

@media only screen and (min-width: 765px)
{
 .wrapper
 {
    left: 45%;
 }
}

@media only screen and (min-width: 1024px)
{
 .wrapper
 {
    left: 60%;
 }
}

@media only screen and (min-width: 1070px)
{
  .wrapper
  {
    left: 70%;
  }
}